.mapElement {
  left: 0;
  width: 100%;
  position: relative;
}

.pageContents {
  display: block;
  position: static;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .mapElement {
    width: 90%;
  }
}

@media screen and (min-width: 760px) {
  .pageContents {
    position: relative;
  }
  .mapElement {
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .mapElement {
    width: 70%;
    display: inline-block;
    max-width: 800px;
  }
  .pageContents {
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    margin: 30vw 0 0 0;
  }
  .introText {
    margin-right: 10%;
  }
}

@media screen and (min-width: 1450px) {
  .pageContents {
    margin-top: 35vw;
    width: 45%;
  }
}
