@keyframes loadBox {
	0% {height: 4rem;}
	66% {height: 40%;}
	100% {height: auto;}
}

@keyframes loadBoxMobile {
	0% {height: 4rem;}
	66% {height: 12%;}
	100% {height: auto;}
}

@keyframes slowDisplay {
	from {opacity: 0;}
	to {opacity: 1;}
}

.InfoBox {
	background-color: #FEFAF5;
	padding: .8rem;
	position: absolute;
	top: 9rem;
	left: 7%;
	z-index: 999;
	width: 85%;
}

.InfoBox h3 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0 1rem .2rem 0;
}

.InfoBox p {
	margin: 0 0 .6rem;
}
.InfoBox p span {
	font-weight: 600;
	padding-right: .1rem;
}

.infoBoxLayout {
	display: flex;
	width: 100%;
	margin: 1rem 0 0;
	flex-direction: column;
	animation-name: slowDisplay;
  	animation-duration: 4s;
}

.infoBoxLayout .infoBoxImg + .infoBoxText {
	padding-left: 1rem;
}
.infoBoxLayout .infoBoxImg {
	flex: 0 0 auto;
}

.infoBoxLayout img {
	width: 100%;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: .8rem;
	cursor: pointer;
}

@media screen and (min-width: 380px) {
	.InfoBox {
		top: 12rem;
		animation-name: loadBox;
  		animation-duration: 0.5s;
	}
}

@media screen and (min-width: 760px) {
	.infoBoxLayout {
		flex-direction: row;
	}
	.infoBoxLayout .infoBoxImg {
		flex: 0 0 15rem;
	}
	.InfoBox {
		margin: 0 0 3rem 0;
		position: fixed;
		bottom: 2rem;
		left: 10%;
		width: 80%;
		top: auto;
		animation-name: loadBoxMobile;
  		animation-duration: 0.5s;
	}
	.InfoBox h3 {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1025px) {
	.InfoBox {
		margin: 2rem 0 2rem 0;
		width: 90%;
		position: relative;
		bottom: auto;
		left: auto;
		animation-name: loadBox;
  		animation-duration: 0.5s;
	}
	.infoBoxLayout .infoBoxText {
		overflow-y: scroll;
		max-height: 300px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1449px) {
	.infoBoxLayout .infoBoxImg {
		flex: 0 0 8rem;
	}
}

@media screen and (min-width: 1450px) {
	.InfoBox {
		margin: 0 0 3rem 0;
		width: 100%;
	}
	.infoBoxLayout .infoBoxText {
		max-height: 175px;
	}
}
