.mainBody {
  display: flex;
  flex-direction: column;
  flex: 2 0 auto;
  overflow: auto;
  background: rgb(184,233,244);
  background: radial-gradient(circle, rgba(184,233,244,1) 32%, rgba(173,220,240,1) 100%);
  padding-bottom: 4rem;
}

@media screen and (min-width: 1025px) {
  .mainBody {
    flex-direction: row;
  }
}
