@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&family=Satisfy&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color: rgb(66, 33, 61);
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
	overflow: hidden;
  min-height: 100%;
}
